<h1>Formulario para cantidad de capital</h1>

<form action="/" method="POST">
<div>
<label>Ingrese capital: </label>
<input type="number" required="true" name="capital" placeholder="0">
</div>
<div>
    <label> Ingrese tasa de interes: </label>
    <input type="number" required="true" name="interest" placeholder="0">
</div>
<div>
    <label>Ingrese cantidad de años</label>
    <input type="number" required="true" name="age" placeholder="0">
</div>
<button type="submit">Calcular</button>
</form>